<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
    <title>Welcome to web4innovation quiz app API</title>
</head>
<body>

<table>
  <tr>
    <th>Action</th>
    <th>uri, method, Content-type</th>
    <th>body</th>
    <th>status, response</th>
  </tr>
  <tr>
    <td>add new user</td>
    <td>/api/register, POST, application/json</td>
    <td>{"email": "test@test.com","nickname": "wisstest","pass": "test"}</td>
    <th>201, {"result":{"token":"c4033bff94b567a190e33faa551f411caef444f2"}}</th>
  </tr>
  <tr>
    <td>authenticate user</td>
    <td>/api/authenticate, POST, application/json</td>
    <td>{"email": "test@test.com","pass": "test"}</td>
    <th>200, {"result":{"token":"c4033bff94b567a190e33faa551f411caef444f2"}}</th>
  </tr>
  <tr>
    <td>fetch random question</td>
    <td>/api/question/random, GET</td>
    <td></td>
    <th>200, {
  "answers": [
    {
      "answer_text": "4",
      "correct": true
    },
    {
      "answer_text": "16",
      "correct": false
    }
  ],
  "id": 4,
  "owner": "test",
  "question": "what is 2 plus 2",
  "multiple_choice": false,
  "tags": [
    "math",
    "space"]
  }
  </th>
  </tr>
  <tr>
    <td>add a new question to the database</td>
    <td>/api/question, POST, application/json</td>
    <td>{
  "answers": [
    {
      "answer_text": "4",
      "correct": true
    },
    {
      "answer_text": "16",
      "correct": false
    }
  ],
  "question": "what is 2 plus 2",
  "multiple_choice": false,
  "tags": [
    "math",
    "space"]
  }
    </td>
    <th>201, {
  "answers": [
    {
      "answer_text": "4",
      "correct": true
    },
    {
      "answer_text": "16",
      "correct": false
    }
  ],
  "id": 4,
  "owner": "test",
  "question": "what is 2 plus 2",
  "multiple_choice": false,
  "tags": [
    "math",
    "space"]
  }</th>
  </tr>
  <tr>
    <td>get question owned by a given user</td>
    <td>/api/question/ownedby/&lt ownername &gt, GET</td>
    <td></td>
    <th>200,{"result": JSONArray containing all the question posted by this user</th>
  </tr>
  <tr>
    <td>get question by tag</td>
    <td>/api/question/bytag/&lt tag &gt, GET</td>
    <td></td>
    <th>200,{"result": JSONArray containing all the question having this tag </th>
  </tr>

</table>
</body>
</html>

